:root {
  --titleSectionPrimaryColor: rgb(65, 61, 61);
  --titleSectionSecondaryColor: rgb(191, 219, 173);
  --titleSectionTertiaryColor: rgba(73, 98, 30);
}
    
#title {
   color: var(--titleSectionPrimaryColor);
   text-align: center;
   padding-top: 200px;
   background-image: url('../images/football.jpg');
   background-position: center top;
}

.title-section-header{
  margin-bottom: -10px;
}

.title-section-subtitle{
  margin-bottom: 25px;
}

.title-section-button {
  color:var(--titleSectionPrimaryColor);
  border-radius: 5px;
  border: solid var(--titleSectionPrimaryColor) 1px;
  background-color: transparent;
  padding: 15px 20px;
}

.title-section-button:hover {
    background-color: var(--titleSectionPrimaryColor);
    color: var(--titleSectionSecondaryColor);
    cursor: pointer;
    font-size: 20px;
}

