    h1 {color: blue;

    }

    button:hover {
  background-color: lightseagreen;
  cursor: pointer;
  font-size: 20px;
    }

    #title {
        text-align: center;
        padding-top: 200px;
        background-image: url('../images/football.jpg');
        background-position: center top;
    }